@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	font-size: 25px;
	color: #fffff0;
    font-family: 'Roboto', sans-serif;
}
.container {
	padding: 20px 70px 60px 70px;
	display: flex;
	flex-direction: column;
	gap: 120px;
}

header{
	display: flex;
	align-items: center;
}

header a{
	flex: 1;
}
.container h1{
	color: #BB0A21;
}
header nav {
	flex: 1;
	text-align: center;
}
header .account{
    flex: 1;
    text-align: right;
}

nav li,a{
text-decoration: none;
color: inherit	;
transition: .2s ease-in-out;
font-size: 30px;
}
.account #loguit{
	margin-top: 5px	;
}

.account #winkelkar{
margin-top: 0;
	margin: 5px;
}
nav ul {
	list-style: none;
	display: flex;
	gap: 20px;
	justify-content: center;
}

nav ul li{
	display: inline-block;
}
nav ul a:hover{
	color: #696773;
}
.showroom img{
	width: 80%;
	position: absolute;
	left: 0;
	filter: brightness(70%);
	text-align: left;
}
.showroom a{
	color: #f5f0f6;
	opacity: 80%;
	position: absolute;
	top: 65%;
	left: 80%;	
	background-color:#BB0A21;
	border-radius: 10px;
	margin: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.challenger a{
	position: absolute;
	left: 35%;
	top: 45%;
	font-weight: bolder;
}
.charger a{
	position: absolute;
	right: 10%; 
	font-weight: bolder;
}
.products a:hover{
	color: #BB0A21;
}
.challenger img{
	width: 40%;
	position: relative;
}
.charger img{
	opacity: 70%;
	position: relative;
	margin-left: 70%;
	margin-top: 0px;
}