@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	font-size: 25px;
	color: #fffff0;
    font-family: 'Roboto', sans-serif;
}
.container {
	padding: 10px 70px 60px 70px;
	display: flex;
	flex-direction: column;
	gap: 120px;
}

nav{
	display: flex;
	align-items: center;
}
nav a{
	flex: 1;
    text-decoration: none;
    color: #BB0A21;
    font-size: 30px;
	margin-top: 20px;
}
.users tr{
margin-bottom: 30px;
}
.users th{
	text-align: left;
	padding-right: 5px;
}
.users td{
	padding-right: 10px;
}
.products tr{
	margin-bottom: 30px;
}
.products th{
	text-align: left;
	padding-right: 5px;
}
.products td{
	padding-right: 10px;
}
.sales tr{
	margin-bottom: 30px;
}
.sales th{
	text-align: left;
	padding-right: 5px;
}
.sales td{
	padding-right: 10px;
}
.gegevens table label{
	color: inherit;
}
.gegevens input{
	background-color: black;
	color: inherit;
}